//estilos para mobile iphone 5 320*568
@media screen and (max-width:650px){
    footer{
        .hello{
           text-align: center;
           margin: 25px 0px;
        
        }
    
        .socialMedia{
            display: flex;
            justify-content: space-between;
            margin: 13px 45px 35px 45px;
            a{
                color: black;
            }
            i{
                padding-right: 38px;
            }
        }
    
    }
}

//estilos para desktop 1366*352
@media screen and (min-width:700px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 36px 100px 31px 100px;
        .hello{
            font-family: $fontps;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 28px;
        }
        a{
            text-decoration:none;
            color: black;
        }
        i{
            padding-right: 38px;
        }
    }

}